.navLinkanchor {
    display: flex;
    align-items: center;
    margin-left: -4px;
    height: 51px;
    width: 100%;
    cursor: pointer;
}

.navLinkanchor:hover {
  animation: changeBackground .6s forwards;
  text-decoration: none;
}

@keyframes changeBackground {
  0% {
    background-color: rgb(224, 224, 224);
    transform: translateX(0px);
  }
  100% {
    background-color: rgb(243, 243, 243);
    transform: translateX(4px);
  }
}

.navLinkColorBlock {
    background-color: rgb(108, 110, 255);
    width: 4px;
    height: 100%;
}

.navText {
    padding-left: 21px;
    color: rgb(102, 102, 102);
    font-size: 1.6rem;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.brown {
    background-color: brown;
}

.yellow {
    background-color: yellow;
}

.indigo {
    background-color: indigo;
}

.orange {
    background-color: orange;
}
