.navContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 192px;
  height: 100vh;
  background-color: white;
  box-shadow: 3px 0px 5px gray;
  transition: transform 250ms ease-out 100ms, margin-left 250ms ease-out;
  z-index: 12;
}

.meBox {
  padding: 2rem 0;
  text-align: center;
  border-bottom: 1px solid #aaa;
  background-color: white;
}

.name {
  margin: 0;
  margin-bottom: .5rem;
  color: maroon;
}

.jobTitle {
  margin: 0;
  color: #333;
}

.navLinksContainer {
  list-style: none;
  background-color: white;
  margin-left: 0;
  padding-left: 0;
}

.toggled {
  margin-left: 197px;
}

@media (max-width: 991px) {
  .navContainer {
    transform: translateX(-103%);
  }
}