html {
  font-size: 10px;
}

.sectionsContainer {
  width: 100%;
  transition: margin-left 300ms ease-in 0ms, margin-top 300ms ease-in;
  margin-left: 19.2rem;
}

.stackIcon {
  width: 4.8rem;
  height: 4.8rem;
}

.jsIcon {
  background-color: black;
  color: yellow;
}

.cssIcon {
  color: blue;
}

.reactIcon {
  color: lightblue;
}

.htmlIcon {
  color: orange;
}

.bootstrapIcon {
  color: purple;
}

.cSharpIcon {
  color: #009404;
}

.about {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}

.blackCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: 0.7;
  z-index: 10;
  background: rgb(0, 0, 0);
}

.topBar {
  width: 100%;
  height: 10rem;
  background-color: white;
  position: fixed;
  top: -10rem;
  left: 0;
  transition: top 250ms ease-in;
  z-index: 9;
}

.meBox {
  text-align: center;
  padding-top: 1rem;
}

.jobTitle {
  color: #aaa;
}

.hamburgerButton {
  position: fixed;
  width: 4rem;
  height: 4rem;
  right: 1rem;
  top: -4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 100%;
  padding: 1rem;
  z-index: 101;
  transition: top 250ms ease-in;
}

.hamburgerButton:focus {
  outline: none;
}

.line {
  width: 80%;
  height: 2px;
  background-color: gray;
  margin: 0 1rem;
}

@media (max-width: 991px) {
  .sectionsContainer {
    margin-left: 0;
    margin-top: 10rem;
  }

  .topBar {
    top: 0px;
  }

  .hamburgerButton {
    top: 3rem;
  }
}

@media (max-width: 550px) {
  .stackIcon {
    width: 3rem;
    height: 3rem;
  }
}
